{% include install_instructions/shell.html %}

<br/>
<div class="alert alert-warning">
  <h4>Note for Windows Users</h4>
  <ul>
    <li>If you have used <strong>Windows Subsystem for Linux ("WSL2")</strong> please open your Ubuntu bash terminal and follow the <strong>Linux</strong> instructions for each of the software packages below.</li>
    <li>If not, please follow the <strong>Windows</strong> instructions.</li>
  </ul>
</div>

{% include install_instructions/git.html %}
{% include install_instructions/editor.html %}
